* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
  display: grid;
  row-gap: 8px;
}

.main {
  padding: 16px;
  display: grid;
  row-gap: 16px;
}

.collections {
  font-size: 14px;
}

button {
  width: 100%;
  padding: 8px 16px;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
}