* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
  display: grid;
  row-gap: 8px;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main {
  padding: 16px;
  display: grid;
  row-gap: 16px;
}

.collections {
  font-size: 14px;
}

button {
  width: 100%;
  padding: 12px 16px;
  border: none;
  background-color: rgb(16, 162, 229);
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
}

select {
  appearance: none;
  border: 1px solid #D1D1D1;
  padding: 4px;
  border-radius: 4px;
  color: #374151;
}

.collectionName {
  width: 100%;
  max-width: 200px;
  display: block;
  font-size: 10px;
  font-weight: 600;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.list-header {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  font-weight: 600;
  color: #555;
}